<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="animate__animated animate__pulse">TDAH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animate__animated animate__bounceInUp">
  <ion-card>
    <div>
      <h2>O que é TDAH?</h2>
      <p>O TDAH é um transtorno neurobiológico que se manifesta na infância e pode persistir na adolescência e na idade
        adulta. Ele é caracterizado por dificuldades persistentes de atenção, hiperatividade e/ou impulsividade que
        interferem no funcionamento diário e no desenvolvimento pessoal.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Sintomas:</h2>
      <p>
        Dificuldade em manter a atenção em tarefas ou atividades.
        Desatenção a detalhes e erros por descuido.
        Dificuldade em seguir instruções ou organizar tarefas.
        Fuga de situações que exigem esforço mental prolongado.
        Hiperatividade, como inquietude, movimentos frequentes de mãos ou pés e dificuldade em permanecer sentado.
        Impulsividade, como interromper os outros, falar em excesso ou agir sem pensar nas consequências.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Consequências:
      </h2>
      <p>
        Dificuldade de desempenho acadêmico.
        Problemas de relacionamento com colegas e familiares.
        Baixa autoestima e autoconfiança.
        Risco aumentado de desenvolver outros transtornos mentais, como ansiedade e depressão.
        Dificuldades no ambiente de trabalho.
        Maior risco de acidentes e comportamentos de risco.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Por que buscar ajuda de um psicólogo?</h2>
      <p>
        Um psicólogo pode fornecer avaliação e diagnóstico preciso do TDAH.
        Ajuda a desenvolver estratégias de organização e gerenciamento de tempo.
        Oferece suporte emocional para lidar com os desafios relacionados ao TDAH.
        Ensina habilidades de comunicação e resolução de problemas.
        Auxilia na construção de um ambiente de apoio familiar e social.
        Pode colaborar com outros profissionais de saúde, como psiquiatras, para desenvolver um plano de tratamento
        abrangente.
      </p>
    </div>
  </ion-card>
</ion-content>