<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="animate__animated animate__pulse">Depressão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animate__animated animate__bounceInUp">
  <ion-card>
    <div>
      <h2>O que é depressão?</h2>
      <p>Depressão é uma condição de saúde mental que afeta o modo como você se sente, pensa e lida com atividades
        cotidianas. Não é apenas uma tristeza passageira; é uma condição séria que pode interferir significativamente na
        vida diária.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Sintomas:</h2>
      <p>
        Sentimentos persistentes de tristeza, vazio ou desesperança.
        Perda de interesse em atividades que antes eram prazerosas.
        Mudanças no apetite ou peso.
        Dificuldade para dormir ou dormir em excesso.
        Fadiga ou falta de energia.
        Sentimentos de inutilidade ou culpa excessiva.
        Dificuldade de concentração ou tomada de decisões.
        Pensamentos recorrentes de morte ou suicídio.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Consequências:
      </h2>
      <p>
        Impacto nas relações pessoais, profissionais e acadêmicas.
        Redução da qualidade de vida.
        Aumento do risco de desenvolver outras condições de saúde, como ansiedade ou abuso de substâncias.
        Risco aumentado de suicídio.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Por que buscar ajuda de um psicólogo?</h2>
      <p>
        Um psicólogo pode oferecer suporte emocional e estratégias para lidar com os sintomas.
        Ajuda a identificar padrões de pensamento negativos e a desenvolver habilidades de enfrentamento saudáveis.
        Oferece um espaço seguro para expressar emoções e preocupações.
        Pode auxiliar na construção de um plano de tratamento personalizado, que pode incluir terapia
        cognitivo-comportamental, terapia interpessoal ou outras abordagens terapêuticas.
        Reduz o estigma associado à busca de ajuda para problemas de saúde mental.
      </p>
    </div>
  </ion-card>
</ion-content>