<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="animate__animated animate__pulse">Ansiedade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animate__animated animate__bounceInUp">
  <ion-card>
    <div>
      <h2>O que é ansiedade?</h2>
      <p>A ansiedade é uma resposta natural do corpo a situações percebidas como ameaçadoras ou desafiadoras. No
        entanto, quando a ansiedade se torna excessiva, persistente e interfere nas atividades diárias, pode ser um
        sinal de um distúrbio de ansiedade.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Sintomas:</h2>
      <p>
        Preocupação excessiva ou pensamentos ansiosos.
        Sensação de nervosismo, agitação ou irritabilidade.
        Tensão muscular.
        Dificuldade em relaxar ou dormir.
        Sensação de falta de ar ou sufocamento.
        Palpitações cardíacas ou aumento da frequência cardíaca.
        Sudorese, tremores ou sensação de tontura.
        Problemas gastrointestinais, como dor de estômago ou diarreia.
        Pensamentos de catastrofização ou antecipação de perigos futuros.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Consequências:
      </h2>
      <p>
        Impacto negativo na saúde física e mental, como dores crônicas, distúrbios do sono e depressão.
        Dificuldades nos relacionamentos interpessoais, tanto pessoais quanto profissionais.
        Prejuízo no desempenho acadêmico ou profissional.
        Isolamento social.
        Desenvolvimento de comportamentos de evitação, que podem limitar as atividades e oportunidades de vida.
      </p>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h2>Por que buscar ajuda de um psicólogo?</h2>
      <p>
        Um psicólogo pode oferecer estratégias eficazes para gerenciar a ansiedade.
        Ajuda a identificar padrões de pensamento negativos e distorcidos.
        Oferece técnicas de relaxamento e mindfulness para reduzir os sintomas de ansiedade.
        Auxilia na exposição gradual a situações temidas, ajudando a superar os medos.
        Pode trabalhar na identificação de gatilhos específicos de ansiedade e no desenvolvimento de planos de
        enfrentamento.
        Proporciona um ambiente seguro para expressar preocupações e aprender habilidades de autocontrole.
      </p>
    </div>
  </ion-card>
</ion-content>