<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="animate__animated animate__pulse">Mental Health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animate__animated animate__bounceInUp">
  <form (ngSubmit)="submitForm()" [formGroup]="form">

    <div>
      <ion-card>
        <p>
          Você já se pegou levando um prato para a cozinha e, sem perceber, acabou no banheiro sem saber o que estava
          fazendo? Ou talvez já tenha sentido uma pressão no peito, como se algo o estivesse apertando? Muitas pessoas
          passam por situações assim sem entender ou perceber a gravidade do que sentem. Ansiedade, depressão e TDAH
          (Transtorno do Déficit de Atenção com Hiperatividade) são temas que estão se tornando cada vez mais comuns,
          mas não devem ser tratados com desdém.
          Essas condições podem impactar profundamente a vida, causando falta de foco, motivação e até comportamentos
          agressivos, sem que se perceba a origem. A ansiedade, por exemplo, pode manifestar-se como uma sensação
          constante de preocupação ou medo, enquanto a depressão pode levar a sentimentos persistentes de tristeza e
          desinteresse. O TDAH, por sua vez, pode dificultar a concentração e a organização, afetando o desempenho em
          diversas áreas da vida.
          Estar atento a esses sinais é crucial. Se você notar mudanças significativas no seu comportamento ou emoções,
          considere procurar um profissional de saúde mental, como um psicólogo ou psiquiatra. Esses especialistas podem
          oferecer um diagnóstico preciso e um plano de tratamento adequado, que pode incluir terapia, medicação ou
          outras intervenções.
          Lembre-se, as informações aqui apresentadas têm o objetivo de conscientização e não substituem o diagnóstico e
          tratamento adequados feitos por profissionais de saúde mental. Cuidar da sua saúde mental é tão importante
          quanto cuidar da sua saúde física, e buscar ajuda é um passo fundamental para o bem-estar geral.
        </p>
      </ion-card>
    </div>

    <div class="container-buttons">
      <ion-title>
        Veja mais sobre:
      </ion-title>
      <ion-button expand="block" routerLink="/feeling-2">TDAH</ion-button>
      <ion-button expand="block" routerLink="/feeling-1">Depressão</ion-button>
      <ion-button expand="block" routerLink="/feeling-3">Ansiedade</ion-button>
      <ion-card-subtitle>Após revisar os tópicos anteriores e sentir-se pronto, por favor, preencha o questionário a
        seguir:</ion-card-subtitle>
    </div>

    <div>
      <div>
        <ion-card>
          <div>
            <h2>Saúde - CAPS II GUARAPUAVA</h2>
            <p>
              Endereço: R. Padre Chagas, 2568 - Centro, Guarapuava - PR, 85010-020
            </p>
            <ul>
              <li>Horários:</li>
              <li>Segunda-feira: 8h–17h</li>
              <li>Terça-feira: 8h–17h</li>
              <li>Quarta-feira: 8h–17h</li>
              <li>Quinta-feira: 8h–17h</li>
              <li>Sexta-feira: 8h–17h</li>
              <li>Sábado: Fechado</li>
              <li>Domingo: Fechado</li>
            </ul>
            <p>
              Telefone: (42) 3142-1603
            </p>
          </div>
        </ion-card>
      </div>
      <div>

        <ion-card>
          <div>
            <h2>Saúde - CAPS AD GUARAPUAVA</h2>
            <p>
              Address: R. Frei Caneca, 3456 - Santa Cruz, Guarapuava - PR, 85015-220
            </p>
            <ul>
              <li>Horários:</li>
              <li>Segunda-feira: 8h–17h</li>
              <li>Terça-feira: 8h–17h</li>
              <li>Quarta-feira: 8h–17h</li>
              <li>Quinta-feira: 8h–17h</li>
              <li>Sexta-feira: 8h–17h</li>
              <li>Sábado: Fechado</li>
              <li>Domingo: Fechado</li>
            </ul>
            <p>
              Telefone: (42) 3142-1606
            </p>
          </div>
        </ion-card>
      </div>
    </div>

    <div>
      <ion-item>
        <h5>Seu e-mail:*</h5>
        <ion-icon name="mail" slot="end" color=""></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="email" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']" class="required-text">E-mail é
        obrigatório</span>
      <span *ngIf="form.get('email')?.dirty && form.get('email')?.errors?.['email']" class="required-text">Formato do
        e-mail inválido</span>
    </div>

    <div>
      <ion-item>
        <h5>Esse site foi útil para você de alguma forma? (Explique)*</h5>
        <ion-icon name="star" slot="end"></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="wasItUsefull" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('wasItUsefull')?.touched && form.get('wasItUsefull')?.errors?.['required']"
        class="required-text">Este campo é
        obrigatório</span>
      <span *ngIf="form.get('wasItUsefull')?.dirty && form.get('wasItUsefull')?.errors?.['minlength']"
        class="required-text">Este campo deve
        ter no mínimo 10 caracteres</span>
    </div>

    <div>
      <ion-item>
        <h5>Se pudéssemos melhorar algo nele, o que seria?</h5>
        <ion-icon name="hammer" slot="end"></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="canWeImprove" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('canWeImprove')?.dirty && form.get('canWeImprove')?.errors?.['minlength']"
        class="required-text">Este campo deve
        ter no mínimo 10 caracteres</span>
    </div>

    <div>
      <ion-item>
        <h5>Ele levou você a questionar sua saúde mental?*</h5>
        <ion-icon name="heart" slot="end" class=""></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="madeYouQuestion" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('madeYouQuestion')?.touched && form.get('madeYouQuestion')?.errors?.['required']"
        class="required-text">Este campo
        é obrigatório</span>
      <span *ngIf="form.get('madeYouQuestion')?.dirty && form.get('madeYouQuestion')?.errors?.['minlength']"
        class="required-text">Este campo
        deve ter no mínimo 3 caracteres</span>
    </div>

    <div>
      <ion-item>
        <h5>Você vai cuidar melhor da sua saúde mental e procurar ajuda?*</h5>
        <ion-icon name="heart" slot="end"></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="isGoingToCare" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('isGoingToCare')?.touched && form.get('isGoingToCare')?.errors?.['required']"
        class="required-text">Este campo é
        obrigatório</span>
      <span *ngIf="form.get('isGoingToCare')?.dirty && form.get('isGoingToCare')?.errors?.['minlength']"
        class="required-text">Este campo deve
        ter no mínimo 3 caracteres</span>
    </div>
    <div class="container">
      <ion-button type="submit" expand="block" size="round" class="send-button">Enviar</ion-button>
    </div>
  </form>
</ion-content>
