<ion-header>
  <ion-toolbar color="primary">
    <h1 class="animate__animated animate__pulse">Mental Health</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animate__animated animate__bounceInUp">
  <form (ngSubmit)="submitForm()" [formGroup]="form">

    <div>
      <ion-card>
        <p>
          Você já se pegou levando um prato para a cozinha e, sem perceber, acabou no banheiro sem saber o que estava
          fazendo? Pode ser um indício de TDAH. Já teve o pensamento de se jogar na frente de um carro que passava na
          rua? Isso pode indicar depressão. Ou talvez já tenha sentido uma agonia no peito, como se algo o estivesse
          apertando? Esses podem ser sintomas de ansiedade. Muitas pessoas vivenciam situações assim sem perceberem ou
          sem entenderem a gravidade do que sentem. Ansiedade, depressão e TDAH são temas que, infelizmente, estão se
          tornando comuns nos dias atuais, mas não devem ser tratados com desdém. Essas condições podem afetar
          drasticamente sua vida, causando falta de foco, motivação e até agressividade desnecessária, sem que você
          perceba a origem. É importante estar atento a esses sinais e, se necessário, procurar um profissional
          qualificado para avaliar e tratar qualquer problema que possa estar enfrentando. No entanto, é crucial
          ressaltar que as informações aqui apresentadas são apenas para conscientização, e não substituem o diagnóstico
          e tratamento adequados por profissionais de saúde mental.
        </p>

      </ion-card>
    </div>

    <div class="container-buttons">
      <ion-title>
        Veja mais sobre:
      </ion-title>
      <ion-button expand="block" routerLink="/feeling-2">TDAH</ion-button>
      <ion-button expand="block" routerLink="/feeling-1">Depressão</ion-button>
      <ion-button expand="block" routerLink="/feeling-3">Ansiedade</ion-button>
    </div>

    <div>
      <ion-item>
        <h5>Seu e-mail:*</h5>
        <ion-icon name="mail" slot="end" color=""></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="email" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']" class="required-text">E-mail é
        obrigatório</span>
      <span *ngIf="form.get('email')?.dirty && form.get('email')?.errors?.['email']" class="required-text">Formato do
        e-mail inválido</span>
    </div>

    <div>
      <ion-item>
        <h5>Esse site foi útil para você de alguma forma? (Explique)*</h5>
        <ion-icon name="star" slot="end"></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="wasItUsefull" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('wasItUsefull')?.touched && form.get('wasItUsefull')?.errors?.['required']"
        class="required-text">Este campo é
        obrigatório</span>
      <span *ngIf="form.get('wasItUsefull')?.dirty && form.get('wasItUsefull')?.errors?.['minlength']"
        class="required-text">Este campo deve
        ter no mínimo 10 caracteres</span>
    </div>

    <div>
      <ion-item>
        <h5>Se pudéssemos melhorar algo nele, o que seria?</h5>
        <ion-icon name="hammer" slot="end"></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="canWeImprove" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('canWeImprove')?.dirty && form.get('canWeImprove')?.errors?.['minlength']"
        class="required-text">Este campo deve
        ter no mínimo 10 caracteres</span>
    </div>

    <div>
      <ion-item>
        <h5>Ele levou você a questionar sua saúde mental?*</h5>
        <ion-icon name="heart" slot="end" class=""></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="madeYouQuestion" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('madeYouQuestion')?.touched && form.get('madeYouQuestion')?.errors?.['required']"
        class="required-text">Este campo
        é obrigatório</span>
      <span *ngIf="form.get('madeYouQuestion')?.dirty && form.get('madeYouQuestion')?.errors?.['minlength']"
        class="required-text">Este campo
        deve ter no mínimo 3 caracteres</span>
    </div>

    <div>
      <ion-item>
        <h5>Você vai cuidar melhor da sua saúde mental e procurar ajuda?*</h5>
        <ion-icon name="heart" slot="end"></ion-icon>
      </ion-item>
      <ion-item class="typing-fields">
        <ion-input placeholder="Digite aqui..." formControlName="isGoingToCare" type="text"></ion-input>
      </ion-item>
      <span *ngIf="form.get('isGoingToCare')?.touched && form.get('isGoingToCare')?.errors?.['required']"
        class="required-text">Este campo é
        obrigatório</span>
      <span *ngIf="form.get('isGoingToCare')?.dirty && form.get('isGoingToCare')?.errors?.['minlength']"
        class="required-text">Este campo deve
        ter no mínimo 3 caracteres</span>
    </div>
    <div class="container">
      <ion-button type="submit" expand="block" size="round" class="send-button">Enviar</ion-button>
    </div>
  </form>
</ion-content>