.required-text {
  color: #F25F5C;
}

div {
  padding: 16px;
}

.typing-fields {
  border: solid 4px #C1CFDA;
  border-radius: 10px;
}

ion-title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  height: 40px;
}

ion-icon {
  color: #C1CFDA;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;

}

p {
  padding: 16px;
}

ion-card {
  border: 1px solid #C1CFDA;
}

ion-title{
  text-align: center;
}

ion-card-subtitle{
  padding-top: 16px;
}